body {
  margin: 0;
  padding: 0;
}
/* login */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 60vh;
}
.loginBtn {
  background-color: #24cf6b;
  border: 1px solid #28ce6d;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 25px;
  text-align: center;
  touch-action: manipulation;
}
.loginBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}
.loginInput {
  border: 0;
  border-bottom: 2px solid #333;
  padding: 15px 0;
  display: block;
  text-align: center;
  font-size: 18px;
  font-family: "Muli", sans-serif;
  margin: 0 auto 1rem auto;
  width: 20%;
  transition: 0.1s ease-in;
}
.loginInput:focus {
  border-bottom-color: darksalmon;
  outline: none;
}
.loginInput:hover {
  border-bottom-color: rgb(212, 80, 36);
  outline: none;
}
/* chatroom */
.chat {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10% 1fr 1fr 1fr 10%;
  height: 100vh;
}
.chatHeader {
  grid-row: 1/2;
  grid-column: 1/6;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 25% 65%;
}
.chatHeader > h1 {
  text-align: center;
  margin-top: 5px;
  grid-row: 2/4;
}
.logoutBtn {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #d42727;
  border: 1px solid #c71414;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 10px;
  text-align: center;
}
.chatParticipents {
  grid-column: 1/2;
  grid-row: 2/6;
  text-align: center;
}
.chatLog {
  grid-row: 2/5;
  grid-column: 2/6;
  border: 1px solid black;
  overflow-y: scroll;
  background-color: rgb(255, 246, 228);
}
.chatLog > div > p {
  margin: 0.5%;
  padding: 0;
}
.server {
  background-color: gray;
  border-radius: 4rem;
  color: white;
  text-align: center;
  max-width: fit-content;
  margin: 0 auto;
}
.me {
  color: black;
  background-color: lightgreen;
  text-align: right;
  width: fit-content;
  border-radius: 0.2rem;
  margin: 0 2px 0.5rem auto;
}
.me > p {
  text-align: left;
}
.others {
  background-color: lightskyblue;
  border-radius: 0.2rem;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto 0.5rem 2px;
  width: fit-content;
}
.chatInput {
  grid-row: 5/6;
  grid-column: 2/6;
  text-align: center;
  display: flex;
  height: 40%;
}
.inputMsg {
  width: 100%;
}
.sendMsg {
  background-color: #81f06b;
  border: 1px solid #81f06b;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}
.sendMsg:hover {
  background-color: #70e459;
  border: 1px solid #70e459;
}
.noDirectBtn {
  background-color: #f3747a;
  border: 1px solid #f3747a;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}
.noDirectBtn:hover {
  background-color: #f3636b;
  border: 1px solid #f3636b;
}
